# Backend
uvicorn
fastapi
fastapi-utils
sqlalchemy
python-dotenv
psycopg2
alembic
python-jose
passlib
python-multipart
# ML
spacy
ru-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.5.0/ru_core_news_lg-3.5.0-py3-none-any.whl
tensorflow